@charset "UTF-8";
body{
    background-color: #e0ce91;
}

#Oatkylosaurus{
    position: absolute;
    left: 48%;
    top: 40%;
    display: flex;
    justify-content: center;
    height: auto;
    width: 10%;
}
#speechBubble{
    position: absolute;
    left: 40%;
    top: 30%;
    display: none;
    background-color: #e8f1fa;
    border-radius: 50px;
    width: 300px;
    height: 150px;
    z-index: 12;
}
#speechBubble p{
    position: absolute;
    color: #0a0a0a;
    left: 6%;
    z-index: 13;
    font-size: 20px;
    font-weight: bold;
}

/*Two ostrasized stats who have nowhere convenient to go thanks to the fancy border art, and so are presently relegated to the right side of the screen*/

.stat{
    position: absolute;;
    font-size: 20px;
    font-weight: bold;
    color: #091472;
}
#cash{
    position: absolute;
    left: 92%;
    top: 28%;
    z-index: 2;
}
#age{
    position: absolute;
    left: 92%;
    top: 38%;
    z-index: 2;
}

/*The stat bars indicating the dino's health*/

.bar{
    left: 10px;
}
#hunger{
    width: 100px;
    height: 10px;
    position: absolute;
    background-color: #e26931;
    border-radius: 8px;
    top: 180px;
    z-index: 3;
}
#energy{
    width: 100px;
    height: 10px;
    position: absolute;
    background-color: #3bce60;
    border-radius: 8px;
    top: 280px;
    z-index: 3;
}
#happy{
    width: 100px;
    height: 10px;
    position: absolute;
    background-color: #3bce60;
    border-radius: 8px;
    top: 380px;
    z-index: 3;
}
#sleep{
    width: 100px;
    height: 10px;
    position: absolute;
    background-color: #3c4ac4;
    border-radius: 8px;
    top: 480px;
    z-index: 3;
}
#bored{
    width: 100px;
    height: 10px;
    position: absolute;
    background-color: #e26931;
    border-radius: 8px;
    top: 580px;
    z-index: 3;
}

.bgBar{
    left: 9px;
}
#bar1{
    position: absolute;
    width: 101px;
    height: 12px;
    background-color: #000000;
    top: 180px;
    border-radius: 6px;
    z-index: 2;
}
#bar2{
    position: absolute;
    width: 101px;
    height: 12px;
    background-color: #000000;
    top: 280px;
    border-radius: 6px;
    z-index: 2;
}
#bar3{
    position: absolute;
    width: 101px;
    height: 12px;
    background-color: #000000;
    top: 380px;
    border-radius: 6px;
    z-index: 2;
}
#bar4{
    position: absolute;
    width: 101px;
    height: 12px;
    background-color: #000000;
    top: 480px;
    border-radius: 6px;
    z-index: 2;
}
#bar5{
    position: absolute;
    width: 101px;
    height: 12px;
    background-color: #000000;
    top: 580px;
    border-radius: 6px;
    z-index: 2;
}

/*Places the several icons such as [Playtime!] or [Work...] which presently line the bottom of the main scene*/

.UI{
    position: absolute;
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
    left: 23%;
    bottom: 0%;
    cursor: pointer;
    color: #0c051a;
    z-index: 2;
}
.UI p{
    position: absolute;
    top: 56px;
    color: #e5d9ec;
    font-size: 24px;
    z-index: -1;
}

#dodgeball img{
    position: absolute;
    left: 50%;
    top: 31%;
    width: 5%;
    z-index: 8;
}
#dodgeball{
    display: block;
}

#eyebeam1 img{
    position: absolute;
    left: 49.5%;
    top: 44%;
    width: 2%;
    z-index: 1;
}
#eyebeam1{
    display: none;
}
#eyebeam2 img{
    position: absolute;
    left: 47.5%;
    top: 45%;
    width: 2%;
    z-index: 1;
}
#eyebeam2{
    display: none;
}
#eyebeam3 img{
    position: absolute;
    left: 45.5%;
    top: 53%;
    width: 2%;
    z-index: 1;
}
#eyebeam3{
    display: none;
}
#eyebeam4 img{
    position: absolute;
    left: 43.5%;
    top: 54%;
    width: 2%;
    z-index: 1;
}
#eyebeam4{
    display: none;
}
#eyebeam5 img{
    position: absolute;
    left: 42%;
    top: 62%;
    width: 2%;
    z-index: 1;
}
#eyebeam5{
    display: none;
}
#eyebeam6 img{
    position: absolute;
    left: 40%;
    top: 63%;
    width: 2%;
    z-index: 1;
}
#eyebeam6{
    display: none;
}

/*Contents of Mealtime (aquamarine background), where foodstuffs are held*/

#plasBowl{
    position: absolute;
    width: 230px;
    height: 120px;
    display: none;
    top: 8%;
    left: 10%;
    background-color: #3ba395;
    border: solid 2px #06675a;
    z-index: 5;
}
#iceBank{
    position: absolute;
    width: 150px;
    height: 120px;
    display: none;
    top: 8%;
    left: 20%;
    background-color: #f4f4f4;
    border: solid 2px #000000;
    z-index: 4;
}
#Oatmeal img{
    position: absolute;
    top: 9%;
    left: 16%;
    width: 5%;
    height: 10%;
    z-index: 5;
}
#Oatmeal h1{
    position: absolute;
    top: 15%;
    left: 16%;
    z-index: 5;
}
#Pepper img{
    position: absolute;
    top: 9%;
    left: 10.5%;
    width: 5%;
    z-index: 5;
}
#Pepper h1{
    position: absolute;
    top: 15%;
    left: 10.5%;
    z-index: 5;
}
#Ice img{
    position: absolute;
    top: 8.5%;
    left: 22.5%;
    width: 5%;
    height: 10%;
    z-index: 5;
}
#Ice h1{
    position: absolute;
    top: 15%;
    left: 22.5%;
    z-index: 5;
}
#Oatmeal{
    cursor: pointer;
    display: none;
}
#Pepper{
    cursor: pointer;
    display: none;
}
#Ice{
    cursor: pointer;
    display: none;
}

/*Contents of Work (gray/red background), where hammering oats takes place and money is earned*/

#startShift{
    z-index: 8;
}

#shiftBG{
    position: absolute;
    width: 898px;
    height: 480px;
    background-color: gray;
    display: none;
    right: 100px;
    top: 400px;
    border: solid 2px black;
    z-index: 4;
}
#station{
    position: absolute;
    width: 898px;
    height: 280px;
    background-color: brown;
    display: none;
    top: 600px;
    right: 101px;
    z-index: 5;
}
#RolledBin{
    position: absolute;
    display: none;
    right: 650px;
    bottom: 0px;
    z-index: 9;
}
#QuickBin{
    position: absolute;
    display: none;
    right: 200px;
    bottom: 0px;
    z-index: 9;
}

#hammer{
    position: absolute;
    display: none;
    pointer-events: none;
    right: 220px;
    top: 330px;
    z-index: 8;
    transform: rotate(0deg);
}
#oat{
    position: absolute;
    display: none;
    cursor: pointer;
    right: 520px;
    top: 650px;
    z-index: 6;
}
#debris{
    position: absolute;
    display: none;
    pointer-events: none;
    right: 520px;
    top: 650px;
    z-index: 7;
}

/*Contents of Furniture (main scene), with no suffix barring the books*/

#Bookcase img{
    position: absolute;
    left: 20%;
    top: 12%;
    width: 10%;
    z-index: -1;
}
#BookA img{
    position: absolute;
    left: 21%;
    top: 28%;
    width: 8%;
}
#BookB img{
    position: absolute;
    left: 21%;
    top: 26%;
    width: 8%;
}
#BookC img{
    position: absolute;
    left: 21%;
    top: 24%;
    width: 8%;
}
#BookD img{
    position: absolute;
    left: 21%;
    top: 19%;
    width: 8%;
}
#BookE img{
    position: absolute;
    left: 21%;
    top: 17%;
    width: 8%;
}
#BookF img{
    position: absolute;
    left: 21%;
    top: 15%;
    width: 8%;
}
#MainFan img{
    position: absolute;
    left: 40%;
    top: 15%;
    width: 10%;
}
#FanCord img{
    position: absolute;
    left: 40%;
    top: 5%;
    width: 10%;
}
#DogHouse img{
    position: absolute;
    right: 10%;
    top: 45%;
    width: 10%;
}
#Smoke img{
    position: absolute;
    right: 15%;
    top: 35%;
    width: 5%;
}
#Freezer img{
    position: absolute;
    left: 14%;
    top: 41%;
    width: 10%;
}
#Shirt img{
    position: absolute;
    right: 26%;
    top: 8%;
    width: 10%;
    rotate: 15deg;
}
#Jug img{
    position: absolute;
    left: 32%;
    top: 58%;
    width: 10%;
}
#Herbs img{
    position: absolute;
    right: 34%;
    top: 61%;
    width: 7%;
}
#Bookcase{
    display: none;
}
#BookA{
    display: none;
    cursor: pointer;
}
#BookB{
    display: none;
    cursor: pointer;
}
#BookC{
    display: none;
    cursor: pointer;
}
#BookD{
    display: none;
    cursor: pointer;
}
#BookE{
    display: none;
    cursor: pointer;
}
#BookF{
    display: none;
    cursor: pointer;
}
#MainFan{
    display: none;
    cursor: pointer;
}
#FanCord{
    display: none;
}
#DogHouse{
    display: none;
    cursor: pointer;
}
#Smoke{
    display: none;
}
#Freezer{
    display: none;
}
#Shirt{
    display: none;
}
#Jug{
    display: none;
    cursor: pointer;
}
#Herbs{
    display: none;
}

/*Contents of Shopping (gray background), as denoted by suffix aX or AX*/

#mart{
    position: absolute;
    width: 470px;
    height: 540px;
    display: none;
    top: 240px;
    left: 140px;
    background-color: #c8cfc9;
    border: solid 2px #ca2e2e;
    z-index: 4;
}
#Shopkeep img{
    position: absolute;
    left: 26.5%;
    top: 59%;
    width: 10%;
    z-index: 8;
}
#Shopkeep{
    cursor: pointer;
    display: none;
}
#DogBG{
    position: absolute;
    width: 210px;
    height: 200px;
    display: none;
    top: 57%;
    left: 26%;
    background-color: #8c1313;
    border: solid 4px #65371a;
    z-index: 6;
}
#DogBubble{
    position: absolute;
    left: 25.5%;
    top: 43.5%;
    display: none;
    background-color: #faece8;
    border-radius: 50px;
    width: 260px;
    height: 150px;
    z-index: 12;
}
#DogBubble p{
    position: absolute;
    color: #0a0a0a;
    left: 6%;
    z-index: 13;
    font-size: 20px;
    font-weight: bold;
}

#BookcaseX img{
    position: absolute;
    left: 8%;
    top: 28%;
    width: 5%;
    z-index: 5;
}
#BookcaseX h1{
    position: absolute;
    left: 8%;
    top: 37%;
    font-size: 18px;
    z-index: 5;
}
#BookcaseX p{
    position: absolute;
    left: 8%;
    top: 38.5%;
    font-size: 18px;
    font-weight: bold;
    z-index: 5;
}
#BookAX img{
    position: absolute;
    left: 8%;
    top: 78%;
    width: 5%;
    z-index: 5;
}
#BookAX h1{
    position: absolute;
    left: 8%;
    top: 79%;
    font-size: 18px;
    z-index: 5;
}
#BookAX p{
    position: absolute;
    left: 8%;
    top: 80.5%;
    font-size: 18px;
    font-weight: bold;
    z-index: 5;
}
#BookBX img{
    position: absolute;
    left: 8%;
    top: 71%;
    width: 5%;
    z-index: 5;
}
#BookBX h1{
    position: absolute;
    left: 8%;
    top: 72%;
    font-size: 18px;
    z-index: 5;
}
#BookBX p{
    position: absolute;
    left: 8%;
    top: 73.5%;
    font-size: 18px;
    font-weight: bold;
    z-index: 5;
}
#BookCX img{
    position: absolute;
    left: 8%;
    top: 64%;
    width: 5%;
    z-index: 5;
}
#BookCX h1{
    position: absolute;
    left: 8%;
    top: 65%;
    font-size: 18px;
    z-index: 5;
}
#BookCX p{
    position: absolute;
    left: 8%;
    top: 66.5%;
    font-size: 18px;
    font-weight: bold;
    z-index: 5;
}
#BookDX img{
    position: absolute;
    left: 8%;
    top: 57%;
    width: 5%;
    z-index: 5;
}
#BookDX h1{
    position: absolute;
    left: 8%;
    top: 58%;
    font-size: 18px;
    z-index: 5;
}
#BookDX p{
    position: absolute;
    left: 8%;
    top: 59.5%;
    font-size: 18px;
    font-weight: bold;
    z-index: 5;
}
#BookEX img{
    position: absolute;
    left: 8%;
    top: 50%;
    width: 5%;
    z-index: 5;
}
#BookEX h1{
    position: absolute;
    left: 8%;
    top: 51%;
    font-size: 18px;
    z-index: 5;
}
#BookEX p{
    position: absolute;
    left: 8%;
    top: 52.5%;
    font-size: 18px;
    font-weight: bold;
    z-index: 5;
}
#BookFX img{
    position: absolute;
    left: 8%;
    top: 43%;
    width: 5%;
    z-index: 5;
}
#BookFX h1{
    position: absolute;
    left: 8%;
    top: 44%;
    font-size: 18px;
    z-index: 5;
}
#BookFX p{
    position: absolute;
    left: 8%;
    top: 45.5%;
    font-size: 18px;
    font-weight: bold;
    z-index: 5;
}
#OatmealX img{
    position: absolute;
    left: 14%;
    top: 28%;
    width: 5%;
    z-index: 5;
}
#OatmealX h1{
    position: absolute;
    left: 14%;
    top: 35%;
    font-size: 18px;
    z-index: 5;
}
#OatmealX p{
    position: absolute;
    left: 14%;
    top: 36.5%;
    font-size: 18px;
    font-weight: bold;
    z-index: 5;
}
#PepperX img{
    position: absolute;
    left: 14%;
    top: 42%;
    width: 5%;
    z-index: 5;
}
#PepperX h1{
    position: absolute;
    left: 14%;
    top: 50%;
    font-size: 18px;
    z-index: 5;
}
#PepperX p{
    position: absolute;
    left: 14%;
    top: 51.5%;
    font-size: 18px;
    font-weight: bold;
    z-index: 5;
}
#FreezerX img{
    position: absolute;
    left: 14%;
    top: 57%;
    width: 5%;
    z-index: 5;
}
#FreezerX h1{
    position: absolute;
    left: 14%;
    top: 66%;
    font-size: 18px;
    z-index: 5;
}
#FreezerX p{
    position: absolute;
    left: 14%;
    top: 67.5%;
    font-size: 18px;
    font-weight: bold;
    z-index: 5;
}
#IceX img{
    position: absolute;
    left: 14%;
    top: 70%;
    width: 5%;
    z-index: 5;
}
#IceX h1{
    position: absolute;
    left: 14%;
    top: 79%;
    font-size: 18px;
    z-index: 5;
}
#IceX p{
    position: absolute;
    left: 14%;
    top: 80.5%;
    font-size: 18px;
    font-weight: bold;
    z-index: 5;
}
#FanX img{
    position: absolute;
    left: 20%;
    top: 28%;
    width: 5%;
    z-index: 5;
}
#FanX h1{
    position: absolute;
    left: 20%;
    top: 36.5%;
    font-size: 18px;
    z-index: 5;
}
#FanX p{
    position: absolute;
    left: 20%;
    top: 38%;
    font-size: 18px;
    font-weight: bold;
    z-index: 5;
}
#DogHouseX img{
    position: absolute;
    left: 20%;
    top: 42%;
    width: 5%;
    z-index: 5;
}
#DogHouseX h1{
    position: absolute;
    left: 20%;
    top: 51%;
    font-size: 18px;
    z-index: 5;
}
#DogHouseX p{
    position: absolute;
    left: 20%;
    top: 52.5%;
    font-size: 18px;
    font-weight: bold;
    z-index: 5;
}
#ShirtX img{
    position: absolute;
    left: 26%;
    top: 28%;
    width: 5%;
    z-index: 5;
}
#ShirtX h1{
    position: absolute;
    left: 26%;
    top: 36.5%;
    font-size: 18px;
    font-weight: bold;
    z-index: 5;
}
#ShirtX p{
    position: absolute;
    left: 26%;
    top: 38%;
    font-size: 18px;
    font-weight: bold;
    z-index: 5;
}
#JugX img{
    position: absolute;
    left: 20%;
    top: 57%;
    width: 5%;
    z-index: 5;
}
#JugX h1{
    position: absolute;
    left: 20%;
    top: 66%;
    font-size: 18px;
    z-index: 5;
}
#JugX p{
    position: absolute;
    left: 20%;
    top: 67.5%;
    font-size: 18px;
    font-weight: bold;
    z-index: 5;
}
#HerbsX img{
    position: absolute;
    left: 20%;
    top: 72%;
    width: 4.5%;
    z-index: 5;
}
#HerbsX h1{
    position: absolute;
    left: 19.75%;
    top: 80%;
    font-size: 18px;
    z-index: 5;
}
#HerbsX p{
    position: absolute;
    left: 20%;
    top: 81.5%;
    font-size: 18px;
    font-weight: bold;
    z-index: 5;
}

#BookcaseX{
    cursor: pointer;
    display: none;
}
#BookAX{
    cursor: pointer;
    display: none;
}
#BookBX{
    cursor: pointer;
    display: none;
}
#BookCX{
    cursor: pointer;
    display: none;
}
#BookDX{
    cursor: pointer;
    display: none;
}
#BookEX{
    cursor: pointer;
    display: none;
}
#BookFX{
    cursor: pointer;
    display: none;
}
#OatmealX{
    cursor: pointer;
    display: none;
}
#PepperX{
    cursor: pointer;
    display: none;
}
#FreezerX{
    cursor: pointer;
    display: none;
}
#IceX{
    cursor: pointer;
    display: none;
}
#FanX{
    cursor: pointer;
    display: none;
}
#DogHouseX{
    cursor: pointer;
    display: none;
}
#ShirtX{
    cursor: pointer;
    display: none;
}
#JugX{
    cursor: pointer;
    display: none;
}
#HerbsX{
    cursor: pointer;
    display: none;
}

