@charset "UTF-8";
body{
    background-color: #e0ce91;
}

#Oatkylosaurus{
    position: absolute;
    left: 48%;
    top: 40%;
    display: flex;
    justify-content: center;
    height: auto;
    width: 10%;
}

#age{
    left: 20px;
    z-index: 2;
    font-weight: bold;
}
#cash{
    left: 200px;
    z-index: 2;
}

.stat{
    position: absolute;;
    font-size: 20px;
    font-weight: bold;
    color: #091472;
    top: 100px;
}

.bar{
    left: 10px;
}
#hunger{
    width: 100px;
    height: 10px;
    position: absolute;
    background-color: #e26931;
    border-radius: 8px;
    top: 180px;
    z-index: 3;
}
#energy{
    width: 100px;
    height: 10px;
    position: absolute;
    background-color: #3bce60;
    border-radius: 8px;
    top: 280px;
    z-index: 3;
}
#happy{
    width: 100px;
    height: 10px;
    position: absolute;
    background-color: #3bce60;
    border-radius: 8px;
    top: 380px;
    z-index: 3;
}
#sleep{
    width: 100px;
    height: 10px;
    position: absolute;
    background-color: #3c4ac4;
    border-radius: 8px;
    top: 480px;
    z-index: 3;
}
#bored{
    width: 100px;
    height: 10px;
    position: absolute;
    background-color: #e26931;
    border-radius: 8px;
    top: 580px;
    z-index: 3;
}

.bgBar{
    left: 9px;
}
#bar1{
    position: absolute;
    width: 101px;
    height: 12px;
    background-color: #000000;
    top: 180px;
    border-radius: 6px;
    z-index: 2;
}
#bar2{
    position: absolute;
    width: 101px;
    height: 12px;
    background-color: #000000;
    top: 280px;
    border-radius: 6px;
    z-index: 2;
}
#bar3{
    position: absolute;
    width: 101px;
    height: 12px;
    background-color: #000000;
    top: 380px;
    border-radius: 6px;
    z-index: 2;
}
#bar4{
    position: absolute;
    width: 101px;
    height: 12px;
    background-color: #000000;
    top: 480px;
    border-radius: 6px;
    z-index: 2;
}
#bar5{
    position: absolute;
    width: 101px;
    height: 12px;
    background-color: #000000;
    top: 580px;
    border-radius: 6px;
    z-index: 2;
}

.UI{
    position: absolute;
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
    left: 280px;
    bottom: 0px;
    cursor: pointer;
    color: #0c051a;
    z-index: 2;
}
p{
    position: absolute;
    top: 56px;
    color: rgb(228, 223, 253);
    font-size: 24px;
    z-index: -1;
}

#startShift{
    z-index: 8;
}

#shiftBG{
    position: absolute;
    width: 898px;
    height: 480px;
    background-color: gray;
    display: none;
    right: 100px;
    top: 400px;
    border: solid 2px black;
    z-index: 4;
}
#station{
    position: absolute;
    width: 898px;
    height: 280px;
    background-color: brown;
    display: none;
    top: 600px;
    right: 101px;
    z-index: 5;
}
#RolledBin{
    position: absolute;
    display: none;
    right: 650px;
    bottom: 0px;
    z-index: 9;
}
#QuickBin{
    position: absolute;
    display: none;
    right: 200px;
    bottom: 0px;
    z-index: 9;
}

#hammer{
    position: absolute;
    display: none;
    pointer-events: none;
    right: 220px;
    top: 330px;
    z-index: 8;
    transform: rotate(0deg);
}
#oat{
    position: absolute;
    display: none;
    cursor: pointer;
    right: 520px;
    top: 650px;
    z-index: 6;
}
#debris{
    position: absolute;
    display: none;
    pointer-events: none;
    right: 520px;
    top: 650px;
    z-index: 7;
}

